<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="main-page">
  
      <!-- Navigation -->
      <% include ../static/partials/navbar.ejs %>
      
      <!-- Page Content -->
      <main class="container">

      <div class="row"></div>
       <div class="row justify-content-md-center text-center">
         <div class="col-md-11">
           <a href="/lists" class="btn btn-light btn-sm">Back to Lists</a>
           <% if(currentUser) { %>
            <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editListModal">Edit List</button>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteListModal">Delete List</button>
          <% }%>
         </div>
       </div>
       <hr width="50%">
      <div class="row justify-content-md-center">

        <div class="inbox">
            <div class="item">
              <p style="text-align: center"><b><%= list.title %></b><br>
              <small class="uppercase smaller">Category: <%- list.category %></small></p>
            </div>
        <div> <!-- End of Inbox -->

        <div class="container">
          <form action="/lists/<%= list.id %>/items/create" method="post">
            <div class="d-table-cell w-100">
                <input class="form-control" name="title" autocomplete="off" placeholder="Enter item..">
            </div>
             <div class="d-table-cell align-middle">
                <button id="add-item-btn" class="btn btn-primary" type="submit" value="Add Item">Add Item</button>
            </div>
          </form>
        </div>
        <hr style="margin-bottom: 0px">
        </div>

        <% if(items != "") { %>
          <% items.forEach((item) => {  %>
            <% let checked = item.purchased === true ? "checked='true'" : ""  %>
          <div class="item" id="edit-item-<%= item.id %>" data-edit="<%= item.id %>" style="display: flex;">
            <form id="form-item-<%= item.id %>" action="/lists/<%= list.id %>/items/<%= item.id %>/update" method="post">
              <% if(!item.purchased) { %>
                  <input type="text" name="purchased" value="true" style="display: none;">
                  <input type="checkbox" id="inputcheck-item-<%= item.id %>" onclick="checkFunc(<%= item.id %>)" <%= checked %>>

              <% } else if (item.purchased == true) { %>
                  <input type="text" name="purchased" value="false" style="display: none;">
                  <input type="checkbox" id="inputcheck-item-<%= item.id %>" onclick="checkFunc(<%= item.id %>)" <%= checked %>>
              <% } %>
              </form>
              <% if(!item.purchased) { %>
                <p class="form-check-label itemTitle"><%= item.title %></p>
              <% } else { %>
                <p id= "p-<%= item.id %>" class="form-check-label itemTitle" style="background:#F9F9F9;text-decoration: line-through;"><%= item.title %></p>
              <% } %>

            <!-- Edit/Delete Items Buttons-->
            <div style="margin:15px;">
                <button class="btn btn-sq-sm btn-warning btn-edit" type="button" onclick="editTitle(<%= item.id %>)">
                  <i class="far fa-edit fa-1x"></i>
                </button>

                <form action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" method="post" style="display: inline;">
                    <button class="btn btn-sq-sm btn-danger btn-delete" type="submit">
                        <i class="fas fa-trash fa-1x"></i>
                    </button>
                </form>
             </div> <!-- End of Edit/Delete Items Buttons -->
          </div> <!-- End of Item row -->

          <!-- Editable Item Title -->
          <div class="item" id="show-item-<%= item.id %>" data-save="<%= item.id %>" style="display: none;">
            <form action="/lists/<%= list.id %>/items/<%= item.id %>/update" method="post" style="display: inline;">
              <input disabled type="checkbox" id="inputcheck-item-<%= item.id %>" name="purchased" value="<%= item.purchased %>" <%= checked %>>
              <input type="text" name="title"  value="<%= item.title %>">

              <div style="margin:15px; display: inline">
                <button class="btn btn-sq-sm btn-success btn-save" type="submit" onclick="editTitle(<%= item.id %>)">
                    <i class="far fa-save fa-1x"></i>
                   </button>
              </form>

            <button class="btn btn-sq-sm btn-danger btn-delete" type="button" onclick="editTitle(<%= item.id %>)">
              <i class="fas fa-window-close fa-1x"></i>
            </button>
          </div> <!-- Editable Item Title -->
         </div> <!-- End of each item -->
            <% }) %>
          <% } %>
        </div> <!-- End of inbox div -->

        <!-- Edit List Modal Window -->
          <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit List</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/lists/<%= list.id %>/update">
                    <div class="form-group">
                      <label for="list-title" class="col-form-label">Title:</label>
                      <input value="<%= list.title %>" type="text" name="title" class="form-control" id="list-title" required>
                    </div>
                    <div class="form-group">
                      <label for="list-category" class="col-form-label">Category:</label>
                      <input value="<%= list.category %>" type="text" name="category" class="form-control" id="list-category" required>
                    </div>

                    <div class="modal-footer">
                      <a href="/" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                      <button type="submit" class="btn btn-primary">Save Updates</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Edit List Modal Window -->

        <!-- Delete List Modal Window -->
          <div class="modal fade" id="deleteListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form method="POST" action="/lists/<%= list.id %>/destroy">
                   Are you sure you want to delete the following list: <strong><em><%= list.title %></em></strong>
                   <br><br>

                    <div class="modal-footer">
                      <a href="/" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                      <button type="submit" class="btn btn-danger">Delete List</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <!-- End of Delete List Modal Window -->

      </div> <!--End of Row -->
        
      </main>
       <% include ../static/partials/baseScripts.ejs %>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io.connect();
        socket.on('item_changed', function(msg){
              document.location.reload();
        });
      </script>

       <script>
          function editTitle(itemID) {
            var editId = document.getElementById("edit-item-"+itemID).dataset.edit;
            var showId = document.getElementById("show-item-"+itemID).dataset.save;

            var edit = document.querySelectorAll('[data-edit="'+editId+'"]');
            var show = document.querySelectorAll('[data-save="'+showId+'"]');

            var editStyle = edit[0].style.display;
            var showStyle = show[0].style.display;

            editStyle = editStyle == "flex" ? edit[0].style.display = "none" : edit[0].style.display ="flex";
            showStyle = showStyle == "none" ? show[0].style.display= "flex" : show[0].style.display ="none";
          }

          function checkFunc(itemID) {
            $( "#inputcheck-item-" + itemID).change(function() {
              if ($(this).is(':checked')) {
                $("#p-"+ itemID).attr('style', 'background:#F9F9F9;text-decoration: line-through;');
                $("#form-item-" + itemID).submit();
              } else {
                 $(this).removeAttr('checked');
                 $("#p-"+ itemID).attr('style', 'background:#FFF;text-decoration: none');
                 $("#form-item-" + itemID).submit();
              }
            });
          }

      </script>
    </body>
</html>